h1{
    color: red
}

p{
    color: blue;
    font-size: 16pt;
}

/* Llamada a las etiquetas con id # */
#primera-noticia{
    color: green;
    font-size: 12pt;
}

#segunda-noticia{
    color: darkcyan;
}

/* Llamada a las etiquetas de clase .*/
.encabezado{
    font-size: 24pt;
    text-transform: uppercase;
}

*.warning{
    color: red;
}

.autor, .fecha, .ubicacion, h1, #segunda-noticia{
    text-decoration: underline;
}